.page-contato{
  margin-top: 100px;
  background-image: url('../img/bg-contato.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  h1{
    color: white;
  }
  .container{
    margin-bottom: 0;
  }
  .contato{
    margin-left: 0;
    margin-top: 0;
    padding-right: 15px;
  }
  .col-left-img{
    float: left;
    img{
      max-width: 65px;
    }
  }
  .div-left{
    padding-left: 50px;
    padding-right: 70px;
    color: white;
    margin-bottom: 100px;
    @media(max-width: 414px){
      padding-left: 40px;
      padding-right: 40px;
      margin-bottom: 70px;
    }
    .row{
      &:nth-child(2){
        margin-bottom: 35px;
        margin-top: 50px;
      }
      &:nth-child(3){
        margin-bottom: 35px;
      }
      &:nth-child(4){
        margin-bottom: 50px;
      }
    }
    .col-right p{
      font-size: 18px;
      color: white;
    }
    .padding p{
      color: white;
      font-size: 18px;
    }
    button{
      margin-left: -15px;
      margin-top: 60px;
      @media(max-width: 414px){
        margin-top: 10px;
      }
    }
  }
  .col-right{
    font-size: 18px;
    padding-left: 100px;
  }
  .padding{
    &:nth-child(1){
      h4{
        font-size: 20px;
        color: white;
      }
    }
  }
  .div6{
    .padding{
      padding: 15px;
      @media(max-width: 414px){
        padding: 0;
      }
    }
  }
}

.wpcf7-submit{
  width: 100%;
  background-color: $second-color;
  color: white;
  -webkit-transition: -webkit-transform .8s ease;
  transition: transform .8s ease;
  border: none;
}
.wpcf7-submit:hover{
  background-color: $second-color;
  color: white;
  -webkit-transform: rotatex(360deg);
          transform: rotatex(360deg);
}

.wpcf7-form{
  label{
    width: 100%;
    input,textarea{
      width: 100%;
    }
  }
}
.wpcf7-form-control-wrap{
  @extend .form-group;
  .wpcf7-form-control{
    @extend .form-control;
  }
  .wpcf7-not-valid-tip{
    @extend .alert;
    @extend .alert-danger;
  }
}
.wpcf7-submit{
  @extend .btn;
  @extend .btn-default;
}
.wpcf7-validation-errors{
  @extend .alert;
  @extend .alert-danger;
  background-color: $state-danger-bg !important;
  border-color: $state-danger-border !important;
  border-width: 1px !important;
}
