.titulo-materiais{
  height: 50vh;
  h1{
    padding-top: 25vh;
  }
  .titulo{
    width: 13%;
  }
  p{
    text-align: center;
    font-size: 20px;
    line-height: 25px;
  }
}

.posts-ebooks{
  margin-bottom: 0em !important;
  .line{
    margin-top: 50px;
    h3{
      float: left;
    }
    hr{
      width: 45%;
      border: 0.05em solid #F3A83A;
      display: inline-block;
      margin: 40px;
      margin-left: 25px;
      margin-right: 25px;
    }
  }
  .box-search{
    float: right;
    width: 31%;
    margin-top: 20px;
    input{
      border-radius: 25px;
      border-right: none;
    }
    span{
      border-top-right-radius: 25px;
      border-bottom-right-radius: 25px;
      background: transparent;
      i{
        color: $second-color;
      }
    }
  }
}

.line{
  h3{
    float: left;
  }
  .hr-webinars{
    width: 89%;
    border: 0.05em solid #F3A83A;
    display: inline-block;
    margin: 40px;
    margin-left: 25px;
    margin-right: 0px;
    @media(max-width: 414px){
      width: 64%;
    }
  }
}

.videos{
  .posts-videos{
    padding: 30px;
    padding-top: 0;
    @media(max-width: 414px){
      padding: 15px;
    }
  }
}
.visite-blog{
  button{
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 60px;
  }
}
