.navbar-brand img {
  width: auto;
  max-width: 170px;
}

.div-banner {
  position: relative;
}
.div-banner .title {
  text-align: left;
  margin: 10px 100px !important;
  font-size: 40px;
  position: relative;
  z-index: 1;
}
@media (max-width: 575.98px) {
  .div-banner .title {
    margin: 10px 20px !important;
  }
}
.div-banner .title a {
  color: #D3704C !important;
}
.div-banner .conteudo {
  font-size: 16px;
  font-family: 'Libre Baskerville',serif;
  text-align: left;
  width: 50%;
  margin: 0 100px 40px !important;
  line-height: 24px;
  position: relative;
  z-index: 1;
}
@media (max-width: 575.98px) {
  .div-banner .conteudo {
    margin: 0 25px 35px !important;
    width: 85%;
  }
}
.div-banner .conteudo a {
  color: black !important;
}
.div-banner .botao {
  margin: 10px 100px;
  cursor: pointer;
  position: relative;
  z-index: 1;
  color: white;
}
@media (max-width: 575.98px) {
  .div-banner .botao {
    margin: 0 25px;
  }
}
.div-banner #grano-carousel-conteudo {
  margin: 0;
}

.mask-banner {
  background-color: rgba(255, 255, 255, 0.3);
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}
@media (min-width: 768px) {
  .mask-banner {
    display: none;
  }
}

.modal-lg {
  width: 100%;
  margin: 0;
  height: 100%;
  background-color: white;
}

.conteudo-modal {
  background-color: white;
}
.conteudo-modal h1 {
  text-align: left;
}
.conteudo-modal .container {
  margin-bottom: 0;
}

.btn-modal {
  padding: 0;
  background-color: #D3704C;
  border: none;
  float: right;
  border-radius: 50px;
  width: 45px;
  height: 45px;
  margin-top: 40px;
  margin-right: 40px;
  -webkit-transition: -webkit-transform .4s ease;
  transition: transform .4s ease;
}
.btn-modal:hover {
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  background-color: #D3704C;
}
.btn-modal img {
  max-width: 35px;
}

.row-conteudo-modal {
  margin: 50px 0px;
  /* Indicators list style */
  /* Indicators list style */
  /* Indicators images style */
  /* Indicators active image style */
}
@media (max-width: 767.98px) {
  .row-conteudo-modal {
    margin-top: 100px;
  }
}
.row-conteudo-modal .col-md-4 {
  padding: 25px 50px;
}
.row-conteudo-modal .col-md-4 p {
  font-size: 14px;
}
.row-conteudo-modal .carousel {
  padding: 0 !important;
}
.row-conteudo-modal .article-slide .carousel-indicators {
  bottom: 0;
  left: 0;
  margin-left: 10px;
  width: 100%;
}
.row-conteudo-modal .article-slide .carousel-indicators li {
  border: medium none;
  border-radius: 0;
  float: left;
  height: 54px;
  margin-bottom: 5px;
  margin-left: 0;
  margin-right: 5px !important;
  margin-top: 0;
  width: 100px;
}
.row-conteudo-modal .article-slide .carousel-indicators img {
  border: 2px solid #FFFFFF;
  float: left;
  height: 54px;
  left: 0;
  width: 100px;
}
.row-conteudo-modal .article-slide .carousel-indicators .active img {
  border: 2px solid #428BCA;
  opacity: 0.7;
}

.div1 {
  padding-top: 80px;
}
@media (max-width: 575.98px) {
  .div1 {
    padding-top: 15px;
  }
}
@media (max-width: 991.98px) {
  .div1 .container {
    margin-bottom: 5em;
  }
}
.div1 .div-left {
  padding: 10px 40px;
}
@media (max-width: 575.98px) {
  .div1 .div-left {
    padding: 0 15px;
  }
}
.div1 .div-left h2 {
  color: #D3704C;
}
.div1 .div-left p {
  font-size: 16px;
  line-height: 25px;
}
.div1 .div-left p:nth-child(4) {
  margin-bottom: 40px;
}
.div1 .div-left .botao {
  margin-right: 20px;
}
.div1 .div-left .link {
  text-decoration: underline;
  font-family: 'Libre Baskerville',serif;
}
@media (max-width: 575.98px) {
  .div1 .div-right {
    margin-top: 40px;
  }
}
.div1 .img-div-right {
  background-image: url("../img/foto-casamento-1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 500px;
}
@media (max-width: 575.98px) {
  .div1 .img-div-right {
    height: 300px;
  }
}
.div1 .quadro .col-md-12 {
  padding: 0;
}
@nth-child (2) {
  @media (min-width: 768px) {
    .div1 .quadro .col-sm-6 {
      padding: 0px 25px;
    }
  }
}
.div1 .gal {
  -webkit-column-count: 3;
  /* Chrome, Safari, Opera */
  -moz-column-count: 3;
  /* Firefox */
  column-count: 3;
}
.div1 .gal img {
  width: 100%;
  padding: 7px 0;
  height: auto;
}
@media (max-width: 500px) {
  .div1 .gal {
    -webkit-column-count: 1;
    /* Chrome, Safari, Opera */
    -moz-column-count: 1;
    /* Firefox */
    column-count: 1;
  }
}
.div1 .row-conteudo-modal .col-sm-6:nth-child(2) {
  padding: 0 25px;
}

.div2 {
  position: relative;
}
@media (max-width: 767.98px) {
  .div2 .contato {
    padding: 60px 15px;
  }
}
@media (min-width: 1200px) {
  .div2 .contato {
    padding: 25px 25px;
  }
}
.div2 #toggle-view {
  list-style: none;
  font-size: 11px;
  margin: 0;
  padding: 0;
  width: 100%;
}
.div2 #toggle-view li {
  margin: 10px 0px;
  border-bottom: 1px solid #D3704C;
  position: relative;
  cursor: pointer;
}
.div2 #toggle-view h3 {
  margin: 5px 0;
  font-size: 16px;
}
.div2 #toggle-view span {
  position: absolute;
  right: 5px;
  top: -5px;
  color: #D3704C;
  font-size: 22px;
}
.div2 #toggle-view .panel {
  margin: 5px 0;
  display: none;
}
.div2 .servicos .container {
  margin: 0;
  width: 100%;
}
.div2 .titulo-box {
  font-family: 'Libre Baskerville',serif;
  font-size: 35px;
  line-height: 35px;
  color: white;
  padding: 35px 25px;
  text-shadow: 1px 0px 6px rgba(0, 0, 0, 0.5);
  position: absolute;
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .div2 .titulo-box {
    font-size: 25px;
    padding: 20px;
  }
}
.div2 .img-left {
  padding: 0;
}
.div2 .top-div {
  position: relative;
  background-image: url("../img/foto-casamento-2.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 350px;
}
@media (min-width: 768px) {
  .div2 .top-div {
    border-right: 1px solid white;
    border-bottom: 1px solid white;
  }
}
.div2 .top-div:after {
  opacity: 0;
  position: absolute;
  left: 42px;
  top: 31%;
  width: 21%;
  height: 4px;
  background: #fff;
  content: '';
}
@media (max-width: 575.98px) {
  .div2 .top-div:after {
    top: 32%;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .div2 .top-div:after {
    left: 38px;
  }
}
@media (min-width: 768px) {
  @-webkit-keyframes efeito-hover-top {
    from {
      top: 34%;
      opacity: 0;
    }
    to {
      top: 31%;
      opacity: 1;
    }
  }
  @Keyframes efeito-hover-top {
    from {
      top: 34%;
      opacity: 0;
    }
    to {
      top: 31%;
      opacity: 1;
    }
  }
}
.div2 .top-div:hover:after {
  animation: efeito-hover-top .5s;
  -webkit-animation: efeito-hover-top .5s;
  -moz-animation: efeito-hover-top .5s;
  opacity: 1;
}
.div2 .top-div .mask-div2 {
  opacity: 0;
  transition: all .5s;
  height: 100%;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}
@media (min-width: 992px) {
  .div2 .top-div .mask-div2 .botao {
    opacity: 1;
  }
}
.div2 .top-div .mask-div2:hover {
  background-color: rgba(211, 112, 76, 0.7);
  opacity: 1;
}
@media (min-width: 992px) {
  .div2 .top-div .mask-div2:hover .botao-mask {
    display: block;
  }
}
.div2 .top-div .botao {
  border: 3px solid white;
  position: absolute;
  top: 75%;
  left: 50%;
  margin-left: -64px;
  transition: all .1s;
  opacity: 1;
}
.div2 .top-div .botao:hover {
  border: 3px solid white;
  top: 75%;
  left: 50%;
  margin-left: -64px;
  color: white;
  background-color: #D3704C;
}
@media (min-width: 992px) {
  .div2 .top-div .botao {
    display: none;
  }
}
.div2 .left-bottom {
  position: relative;
  background-image: url("../img/banner-2.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 350px;
}
@media (min-width: 768px) {
  .div2 .left-bottom {
    border-right: 1px solid white;
    border-top: 1px solid #fff;
  }
}
.div2 .left-bottom:after {
  opacity: 0;
  position: absolute;
  left: 42px;
  top: 21%;
  width: 31%;
  height: 4px;
  background: #fff;
  content: '';
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .div2 .left-bottom:after {
    left: 38px;
  }
}
@-webkit-keyframes efeito-hover {
  from {
    top: 24%;
    opacity: 0;
  }
  to {
    top: 21%;
    opacity: 1;
  }
}
@Keyframes efeito-hover {
  from {
    top: 24%;
    opacity: 0;
  }
  to {
    top: 21%;
    opacity: 1;
  }
}
.div2 .left-bottom:hover:after {
  animation: efeito-hover .5s;
  -webkit-animation: efeito-hover .5s;
  -moz-animation: efeito-hover .5s;
  opacity: 1;
}
.div2 .left-bottom .mask-div2 {
  opacity: 0;
  transition: all .5s;
  height: 100%;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}
@media (min-width: 992px) {
  .div2 .left-bottom .mask-div2 .botao {
    opacity: 1;
  }
}
.div2 .left-bottom .mask-div2:hover {
  background-color: rgba(211, 112, 76, 0.7);
  opacity: 1;
}
@media (min-width: 992px) {
  .div2 .left-bottom .mask-div2:hover .botao-mask {
    display: block;
  }
}
.div2 .left-bottom .botao {
  border: 3px solid white;
  position: absolute;
  top: 75%;
  left: 50%;
  margin-left: -64px;
  transition: all .1s;
  opacity: 1;
}
.div2 .left-bottom .botao:hover {
  border: 3px solid white;
  top: 75%;
  left: 50%;
  margin-left: -64px;
  color: white;
  background-color: #D3704C;
}
@media (min-width: 992px) {
  .div2 .left-bottom .botao {
    display: none;
  }
}
.div2 .right-bottom {
  position: relative;
  background-image: url("../img/banner-3.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 350px;
}
@media (min-width: 768px) {
  .div2 .right-bottom {
    border-right: 1px solid white;
    border-left: 1px solid #fff;
    border-top: 1px solid #fff;
  }
}
.div2 .right-bottom:after {
  opacity: 0;
  position: absolute;
  left: 42px;
  top: 21%;
  width: 51%;
  height: 4px;
  background: #fff;
  content: '';
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .div2 .right-bottom:after {
    left: 38px;
  }
}
@-webkit-keyframes efeito-hover {
  from {
    top: 24%;
    opacity: 0;
  }
  to {
    top: 21%;
    opacity: 1;
  }
}
@Keyframes efeito-hover {
  from {
    top: 24%;
    opacity: 0;
  }
  to {
    top: 21%;
    opacity: 1;
  }
}
.div2 .right-bottom:hover:after {
  animation: efeito-hover .5s;
  -webkit-animation: efeito-hover .5s;
  -moz-animation: efeito-hover .5s;
  opacity: 1;
}
.div2 .right-bottom .mask-div2 {
  opacity: 0;
  transition: all .5s;
  height: 100%;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}
@media (min-width: 992px) {
  .div2 .right-bottom .mask-div2 .botao {
    opacity: 1;
  }
}
.div2 .right-bottom .mask-div2:hover {
  background-color: rgba(211, 112, 76, 0.7);
  opacity: 1;
}
@media (min-width: 992px) {
  .div2 .right-bottom .mask-div2:hover .botao-mask {
    display: block;
  }
}
.div2 .right-bottom .botao {
  border: 3px solid white;
  position: absolute;
  top: 75%;
  left: 50%;
  margin-left: -64px;
  transition: all .1s;
  opacity: 1;
}
.div2 .right-bottom .botao:hover {
  border: 3px solid white;
  top: 75%;
  left: 50%;
  margin-left: -64px;
  color: white;
  background-color: #D3704C;
}
@media (min-width: 992px) {
  .div2 .right-bottom .botao {
    display: none;
  }
}
.div2 .col-img-right .img-right1 .col-sm-6:nth-child(1) {
  background-image: url("../img/foto-casamento-diy.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 350px;
}
@media (min-width: 768px) {
  .div2 .col-img-right .img-right1 .col-sm-6:nth-child(1) {
    border-bottom: 1px solid white;
    border-right: 1px solid white;
    border-left: 1px solid white;
  }
}
.div2 .col-img-right .img-right1 .col-sm-6:nth-child(1):after {
  opacity: 0;
  position: absolute;
  left: 42px;
  top: 22%;
  width: 21%;
  height: 4px;
  background: #fff;
  content: '';
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .div2 .col-img-right .img-right1 .col-sm-6:nth-child(1):after {
    left: 38px;
  }
}
@-webkit-keyframes efeito-hover2 {
  from {
    top: 25%;
    opacity: 0;
  }
  to {
    top: 22%;
    opacity: 1;
  }
}
@Keyframes efeito-hover2 {
  from {
    top: 25%;
    opacity: 0;
  }
  to {
    top: 22%;
    opacity: 1;
  }
}
.div2 .col-img-right .img-right1 .col-sm-6:nth-child(1):hover:after {
  animation: efeito-hover2 .5s;
  -webkit-animation: efeito-hover2 .5s;
  -moz-animation: efeito-hover2 .5s;
  opacity: 1;
}
.div2 .col-img-right .img-right1 .col-sm-6:nth-child(1) .mask-div2 {
  opacity: 0;
  transition: all .5s;
  height: 100%;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}
@media (min-width: 992px) {
  .div2 .col-img-right .img-right1 .col-sm-6:nth-child(1) .mask-div2 .botao {
    opacity: 1;
  }
}
.div2 .col-img-right .img-right1 .col-sm-6:nth-child(1) .mask-div2:hover {
  background-color: rgba(211, 112, 76, 0.7);
  opacity: 1;
}
@media (min-width: 992px) {
  .div2 .col-img-right .img-right1 .col-sm-6:nth-child(1) .mask-div2:hover .botao-mask {
    display: block;
  }
}
.div2 .col-img-right .img-right1 .col-sm-6:nth-child(1) .botao {
  border: 3px solid white;
  position: absolute;
  top: 75%;
  left: 50%;
  margin-left: -64px;
  transition: all .1s;
  opacity: 1;
}
.div2 .col-img-right .img-right1 .col-sm-6:nth-child(1) .botao:hover {
  border: 3px solid white;
  top: 75%;
  left: 50%;
  margin-left: -64px;
  color: white;
  background-color: #D3704C;
}
@media (min-width: 992px) {
  .div2 .col-img-right .img-right1 .col-sm-6:nth-child(1) .botao {
    display: none;
  }
}
.div2 .col-img-right .img-right1 .col-sm-6:nth-child(2) {
  background-image: url("../img/foto-casamento-kids.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 350px;
}
@media (min-width: 768px) {
  .div2 .col-img-right .img-right1 .col-sm-6:nth-child(2) {
    border-left: 1px solid white;
    border-bottom: 1px solid white;
  }
}
.div2 .col-img-right .img-right1 .col-sm-6:nth-child(2):after {
  opacity: 0;
  position: absolute;
  left: 42px;
  top: 22%;
  width: 23%;
  height: 4px;
  background: #fff;
  content: '';
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .div2 .col-img-right .img-right1 .col-sm-6:nth-child(2):after {
    left: 38px;
  }
}
@-webkit-keyframes efeito-hover2 {
  from {
    top: 25%;
    opacity: 0;
  }
  to {
    top: 22%;
    opacity: 1;
  }
}
@Keyframes efeito-hover2 {
  from {
    top: 25%;
    opacity: 0;
  }
  to {
    top: 22%;
    opacity: 1;
  }
}
.div2 .col-img-right .img-right1 .col-sm-6:nth-child(2):hover:after {
  animation: efeito-hover2 .5s;
  -webkit-animation: efeito-hover2 .5s;
  -moz-animation: efeito-hover2 .5s;
  opacity: 1;
}
.div2 .col-img-right .img-right1 .col-sm-6:nth-child(2) .mask-div2 {
  opacity: 0;
  transition: all .5s;
  height: 100%;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}
@media (min-width: 992px) {
  .div2 .col-img-right .img-right1 .col-sm-6:nth-child(2) .mask-div2 .botao {
    opacity: 1;
  }
}
.div2 .col-img-right .img-right1 .col-sm-6:nth-child(2) .mask-div2:hover {
  background-color: rgba(211, 112, 76, 0.7);
  opacity: 1;
}
@media (min-width: 992px) {
  .div2 .col-img-right .img-right1 .col-sm-6:nth-child(2) .mask-div2:hover .botao-mask {
    display: block;
  }
}
.div2 .col-img-right .img-right1 .col-sm-6:nth-child(2) .botao {
  border: 3px solid white;
  position: absolute;
  top: 75%;
  left: 50%;
  margin-left: -64px;
  transition: all .1s;
  opacity: 1;
}
.div2 .col-img-right .img-right1 .col-sm-6:nth-child(2) .botao:hover {
  border: 3px solid white;
  top: 75%;
  left: 50%;
  margin-left: -64px;
  color: white;
  background-color: #D3704C;
}
@media (min-width: 992px) {
  .div2 .col-img-right .img-right1 .col-sm-6:nth-child(2) .botao {
    display: none;
  }
}
.div2 .col-img-right .img-right2 .col-sm-6:nth-child(1) {
  background-image: url("../img/foto-casamento-social.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 350px;
}
@media (min-width: 768px) {
  .div2 .col-img-right .img-right2 .col-sm-6:nth-child(1) {
    border-right: 1px solid white;
    border-left: 1px solid white;
    border-top: 1px solid white;
  }
}
.div2 .col-img-right .img-right2 .col-sm-6:nth-child(1):after {
  opacity: 0;
  position: absolute;
  left: 42px;
  top: 22%;
  width: 32%;
  height: 4px;
  background: #fff;
  content: '';
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .div2 .col-img-right .img-right2 .col-sm-6:nth-child(1):after {
    left: 38px;
  }
}
@-webkit-keyframes efeito-hover2 {
  from {
    top: 25%;
    opacity: 0;
  }
  to {
    top: 22%;
    opacity: 1;
  }
}
@Keyframes efeito-hover2 {
  from {
    top: 25%;
    opacity: 0;
  }
  to {
    top: 22%;
    opacity: 1;
  }
}
.div2 .col-img-right .img-right2 .col-sm-6:nth-child(1):hover:after {
  animation: efeito-hover2 .5s;
  -webkit-animation: efeito-hover2 .5s;
  -moz-animation: efeito-hover2 .5s;
  opacity: 1;
}
.div2 .col-img-right .img-right2 .col-sm-6:nth-child(1) .mask-div2 {
  opacity: 0;
  transition: all .5s;
  height: 100%;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}
@media (min-width: 992px) {
  .div2 .col-img-right .img-right2 .col-sm-6:nth-child(1) .mask-div2 .botao {
    opacity: 1;
  }
}
.div2 .col-img-right .img-right2 .col-sm-6:nth-child(1) .mask-div2:hover {
  background-color: rgba(211, 112, 76, 0.7);
  opacity: 1;
}
@media (min-width: 992px) {
  .div2 .col-img-right .img-right2 .col-sm-6:nth-child(1) .mask-div2:hover .botao-mask {
    display: block;
  }
}
.div2 .col-img-right .img-right2 .col-sm-6:nth-child(1) .botao {
  border: 3px solid white;
  position: absolute;
  top: 75%;
  left: 50%;
  margin-left: -64px;
  transition: all .1s;
  opacity: 1;
}
.div2 .col-img-right .img-right2 .col-sm-6:nth-child(1) .botao:hover {
  border: 3px solid white;
  top: 75%;
  left: 50%;
  margin-left: -64px;
  color: white;
  background-color: #D3704C;
}
@media (min-width: 992px) {
  .div2 .col-img-right .img-right2 .col-sm-6:nth-child(1) .botao {
    display: none;
  }
}
.div2 .col-img-right .img-right2 .col-sm-6:nth-child(2) {
  background-image: url("../img/foto-casamento-taca.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 350px;
}
@media (min-width: 768px) {
  .div2 .col-img-right .img-right2 .col-sm-6:nth-child(2) {
    border-left: 1px solid white;
    border-top: 1px solid white;
  }
}
.div2 .col-img-right .img-right2 .col-sm-6:nth-child(2):after {
  opacity: 0;
  position: absolute;
  left: 42px;
  top: 22%;
  width: 54%;
  height: 4px;
  background: #fff;
  content: '';
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .div2 .col-img-right .img-right2 .col-sm-6:nth-child(2):after {
    left: 38px;
  }
}
@-webkit-keyframes efeito-hover2 {
  from {
    top: 25%;
    opacity: 0;
  }
  to {
    top: 22%;
    opacity: 1;
  }
}
@Keyframes efeito-hover2 {
  from {
    top: 25%;
    opacity: 0;
  }
  to {
    top: 22%;
    opacity: 1;
  }
}
.div2 .col-img-right .img-right2 .col-sm-6:nth-child(2):hover:after {
  animation: efeito-hover2 .5s;
  -webkit-animation: efeito-hover2 .5s;
  -moz-animation: efeito-hover2 .5s;
  opacity: 1;
}
.div2 .col-img-right .img-right2 .col-sm-6:nth-child(2) .mask-div2 {
  opacity: 0;
  transition: all .5s;
  height: 100%;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}
@media (min-width: 992px) {
  .div2 .col-img-right .img-right2 .col-sm-6:nth-child(2) .mask-div2 .botao {
    opacity: 1;
  }
}
.div2 .col-img-right .img-right2 .col-sm-6:nth-child(2) .mask-div2:hover {
  background-color: rgba(211, 112, 76, 0.7);
  opacity: 1;
}
@media (min-width: 992px) {
  .div2 .col-img-right .img-right2 .col-sm-6:nth-child(2) .mask-div2:hover .botao-mask {
    display: block;
  }
}
.div2 .col-img-right .img-right2 .col-sm-6:nth-child(2) .botao {
  border: 3px solid white;
  position: absolute;
  top: 75%;
  left: 50%;
  margin-left: -64px;
  transition: all .1s;
  opacity: 1;
}
.div2 .col-img-right .img-right2 .col-sm-6:nth-child(2) .botao:hover {
  border: 3px solid white;
  top: 75%;
  left: 50%;
  margin-left: -64px;
  color: white;
  background-color: #D3704C;
}
@media (min-width: 992px) {
  .div2 .col-img-right .img-right2 .col-sm-6:nth-child(2) .botao {
    display: none;
  }
}

.div3 {
  background-color: #F8ECE1;
  padding-bottom: 50px;
}
.div3 h1 {
  padding: 40px 0;
  margin: 0;
}
@media (max-width: 991.98px) {
  .div3 .col-md-8 {
    margin-top: 100px;
  }
}
.div3 .col-md-8 .carousel-inner > .item > img {
  width: 100%;
  height: 100vh;
}
@media (max-width: 575.98px) {
  .div3 .col-md-8 .carousel-inner > .item > img {
    height: 50vh;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .div3 .col-md-8 .carousel-inner > .item > img {
    height: 70vh;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .div3 .col-md-8 .carousel-inner > .item > img {
    height: 85vh;
  }
}
.div3 .modal .container {
  margin: 0;
  padding: 0;
  width: 100%;
}
.div3 .container {
  margin-bottom: 0;
}
.div3 .carousel {
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .div3 .carousel {
    padding: 0 40px 30px 40px;
  }
}
.div3 .carousel-control {
  left: -40px;
  background: none;
  color: #D3704C;
  font-size: 120px;
  width: auto;
  margin-top: 130px;
  opacity: 1;
  font-family: Lucida Sans Unicode;
}
@media (max-width: 767.98px) {
  .div3 .carousel-control {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .div3 .carousel-control {
    margin-top: 4%;
    left: -15px;
  }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  .div3 .carousel-control {
    margin-top: 9%;
    left: -15px;
  }
}
.div3 .carousel-control.right {
  position: absolute;
  left: 100%;
}
@media (max-width: 767.98px) {
  .div3 .carousel-control.right {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .div3 .carousel-control.right {
    left: 96%;
    display: block;
  }
}
.div3 .carousel-indicators {
  right: 50%;
  top: auto;
  bottom: -25px;
  margin-right: -19px;
  z-index: 1;
}
@media (max-width: 767.98px) {
  .div3 .carousel-indicators {
    display: none;
  }
}
.div3 .carousel-indicators li {
  background: #cecece;
}
.div3 .carousel-indicators .active {
  background: #428bca;
}
.div3 .thumbnail {
  margin-bottom: 25px;
  line-height: 1.8;
  border: 1px solid #ddd;
  padding: 0;
}
.div3 .thumbnail img {
  width: 100%;
  height: 487px;
}
.div3 .thumbnail p {
  text-shadow: 1px 0px 6px rgba(0, 0, 0, 0.5);
  color: white;
  font-family: 'Libre Baskerville',serif;
}
.div3 .thumbnail p:nth-child(1) {
  font-size: 28px;
  margin-bottom: 0px;
  text-shadow: 1px 0px 6px rgba(0, 0, 0, 0.5);
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .div3 .thumbnail p:nth-child(1) {
    font-size: 22px;
  }
}
.div3 .thumbnail p:nth-child(2) {
  font-size: 18px;
  margin-top: 10px;
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .div3 .thumbnail p:nth-child(2) {
    font-size: 14px;
  }
}
.div3 .thumbnail .div-descricao {
  position: absolute;
  top: 40%;
  width: 100%;
  text-align: center;
}
.div3 .carousel-inner .item {
  height: 100%;
}
.div3 .carousel-inner .item .col-sm-4 {
  padding: 0;
}

.div4 .container {
  margin: 0;
  width: 100%;
}
.div4 .col-sm-6 {
  text-align: center;
  height: 100vh;
  padding-top: 250px;
  border-top: 4px solid white;
  background-size: cover;
  background-repeat: no-repeat;
  border-right: 2px solid white;
}
@media (max-width: 575.98px) {
  .div4 .col-sm-6 {
    height: 100vh;
    padding-top: 240px;
  }
}
.div4 .col-sm-6 .paragrafo-1 {
  font-size: 24px;
  color: #D3704C;
  margin: 0;
  font-family: 'Libre Baskerville',serif;
}
.div4 .col-sm-6 .paragrafo-2 {
  font-size: 34px;
  margin: 15px 0 5px;
  font-family: 'Libre Baskerville',serif;
}
.div4 .col-sm-6 .paragrafo-3 {
  font-size: 15px;
  margin-bottom: 40px;
  font-family: 'Libre Baskerville',serif;
}
.div4 .col-sm-6 .mask-saibamais {
  height: 0;
  padding: 100px 120px;
  width: 100%;
  position: absolute;
  margin: 0;
  top: 0;
  left: 0;
  background-color: #D3704C;
  opacity: .0;
  text-align: center;
  transition: .5s;
}
@media (max-width: 575.98px) {
  .div4 .col-sm-6 .mask-saibamais {
    padding: 65px 30px;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .div4 .col-sm-6 .mask-saibamais {
    padding: 60px 30px;
  }
}
@media (min-width: 768px) and (max-width: 992.98px) {
  .div4 .col-sm-6 .mask-saibamais {
    padding: 90px 50px;
  }
}
.div4 .col-sm-6 .mask-saibamais p {
  color: white;
}
.div4 .col-sm-6 .mask-saibamais p:nth-child(1) {
  font-size: 30px;
  font-family: 'Libre Baskerville',serif;
  margin-bottom: 0;
}
.div4 .col-sm-6 .mask-saibamais .mask-height {
  height: 0;
}
.div4 .col-sm-6 .mask-saibamais .botao {
  border: 3px solid white;
  cursor: pointer;
}
.div4 .col-sm-6 .mask-saibamais .botao:hover {
  color: white;
}
.div4 .col-sm-6 .mask-saibamais hr {
  width: 24%;
  border: 1px solid white;
}
.div4 .col-sm-6 .mask-saibamais hr:nth-child(3) {
  margin-top: 40px;
}
.div4 .col-sm-6 .mask-saibamais hr:nth-child(5) {
  margin-bottom: 80px;
}
.div4 .col-sm-6 .botao {
  width: 30%;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 991.98px) {
  .div4 .col-sm-6 .botao {
    width: 45%;
  }
}
.div4 #saiba-mais1, .div4 #saiba-mais2 {
  cursor: pointer;
}

.div5 {
  padding-top: 100px;
  background: #FAFAFA;
}
@media (max-width: 575.98px) {
  .div5 {
    padding-top: 30px;
  }
}
.div5 h1 {
  text-align: left;
  margin-top: 0;
}
.div5 p:nth-child(1) {
  font-size: 18px;
  line-height: 24px;
}
.div5 .endereco {
  margin-top: 25px;
}
.div5 .endereco p:nth-child(1) {
  font-size: 34px;
  margin-bottom: 10px;
}
.div5 .endereco p:nth-child(2) {
  font-size: 18px;
}

.contato {
  padding: 0 25px;
}
.contato .wpcf7-form-control {
  border-radius: 10px;
  border-color: #D3704C;
}
.contato .wpcf7-textarea {
  border-radius: 10px;
  border-color: #D3704C;
  height: 200px;
}
.contato .wpcf7-submit {
  background-color: #D3704C !important;
  transition: .4s;
  font-family: 'Libre Baskerville', serif;
}
.contato .wpcf7-submit:hover {
  background: 0 0 !important;
  color: #D3704C;
  box-shadow: inset 0 0 0 3px #D3704C;
  transform: none;
}
