/*=========== Banner ===========*/
.banner{
  .col-sm-8{
    margin-left: -15px;
    margin-right: 18px;
    @media(max-width: 767.98px){
      margin-bottom: 30px;
      margin-left: -15px;
      margin-right: -15px;
    }
  }
  .posts{
    @media (max-width: 767.98px){
      height: 230px;
      margin-bottom: 0;
    }
    @media (max-width: 991.98px){
      height: 230px;
      margin-bottom: 0px;
    }
  }
}
.img-banner img{
  width: 70%;
  height: 450px;
  background-repeat: repeat;
  background-size: cover;
  background-position: center;
  @media (max-width: 575.98px){
    height: 290px;
    width: 100%;
  }
  @media (min-width: 576px) and (max-width: 767.98px) {
    width: 100%;
    height: 370px;
  }
}

.carousel-inner{
  .item{
    height: 450px;
    width: 100%;
    @media (max-width: 575.98px){
      height: 480px;
    }
    @media (min-width: 576px) and (max-width: 767.98px){
      height: 600px;
    }
  }
}
.descricao-banner{
  width: 40%;
  background-color: #F5F5F5;
  height: 500px;
  right: 0;
  padding: 70px 45px;
  position: absolute;
  h2{
    color: $primary-color;
    margin-top: 0;
    line-height: 32px;
  }
  p{
    font-size: 16px;
    line-height: 20px;
  }
  .botao{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    p{
      margin-bottom: 0;
    }
  }
  .hashtags{
    font-size: 21px;
    font-weight: 700;
  }
  .mask-post{
    left: 0 !important;
    width: 100% !important;
    @media(max-width: 767.98px){
      width: 0 !important;
    }
    .botao{
      width: 50% !important; 
      @media (min-width: 768px) and (max-width: 991.98px){
        width: 70% !important;
      }
    } 
    h3{
      @media (min-width: 768px) and (max-width: 991.98px){
        padding: 0px 10px 10px;
      }
    }
  }
  @media (max-width: 767.98px) {
    width: 100%;
    padding: 25px;
    padding-top: 5px;
    height: 275px;
    bottom: 0;
  }
  @media (min-width: 768px) and (max-width: 991.98px){
     height: 500px !important;
     padding: 40px 15px;
  }
}



.descricao-banner h2{
	font-size: 30px;
}
@media (max-width: 414px) {
	.descricao-banner h2{
		font-size: 24px;
	}
}
.button-banner{
  width: 100px;
  height: 50px;
  padding-left: 16px;
  padding-top: 13px;
  margin-top: 40px;
  background-color: #D92725;
  cursor: pointer;
  border-radius: 5px;
  color: white;
  border: 2px solid white;
  font-size: 15px;
  -webkit-transition: all ease .6s;
  -moz-transition: all ease .6s;
  transition: all ease .6s;
}
.button-banner p:hover{
  text-decoration: none;
}
.descricao-banner a:hover{
  text-decoration: none;
}
.button-banner:hover{
  -webkit-transform: scale(1.04);
  -ms-transform: scale(1.04);
  transform: scale(1.04);
}
@media (max-width: 992px) {
  .button-banner{
    margin-top: -2px;
  }
}
.previous a{
  margin-top: 20px;
  color: #D92725;
}
.next a{
  margin-top: 20px;
  color: #D92725;
}
/*=========== Banner ===========*/

/*=========== Posts ===========*/

.posts-blog{
  .posts{
    @media (max-width: 767.98px){
      height: auto;
    }
    @media (min-width: 768px) and (max-width: 991.98px){
      margin-bottom: 30px;
    }
    img{
      @media(max-width: 767.98px){
        width: 100%;
        height: auto;    
      }
    }
  }
}


