
.slide-progress {
  width: 0;
  max-width: 100%;
  height: 4px;
  background: $brand-success;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 9;
}

.carousel-banner-blog-1,.carousel-banner-blog-0{
  // border: 1px solid $brand-success;
  height: 100%;
  .owl-stage-outer, .owl-stage, .owl-item {
    height: 100%;
  }
  .item{
    height: 100%;
    .banner-hover{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      a{
        width: 100%;
        height: 100%;
        display: block;
      }
    }
    .col1,.col2{
      width: 50%;
      display: inline-block;
      height: 100%;
      float: left;
    }
    .col1{
      padding: 2.5em;
      padding-top: 102px;
      width: 100%;
      position: absolute;
      z-index: 9999;
      color: black;
      font-size: 15px;
      @media (min-width: $screen-sm-min){
        width: 50%;
        position: inherit;
        z-index: 0;
        color: $text-color;
        font-size: 14px;
        }
        a{
            color: black;
            @media (min-width: $screen-sm-min){
              color: $text-color;
            }
      }

    }
    .col2{
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0.5;
      @media (min-width: $screen-sm-min) {
        width: 50%;
        position: relative;
      }
    }
    .banner-thumb{
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
  }
}
