.header-home{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 105px;
  @media (min-width: $screen-md-min) {
  border-bottom: 1px solid $brand-success;
  }
  background-color: $body-bg;
  z-index: 2;
  .menu{
    float:right;
    position:relative;
    left:-50%;
    text-align:left;
    ul{
      list-style:none;
      position:relative;
      left:50%;
      li{
        text-transform: uppercase;
        a{
          color: $text-color;
          padding: 14px;
          padding-top: 36px;
          font-size: 11px;
          @media (min-width: $screen-md-min) {
              font-size: 14px;
              padding: 25px;
          }
          &:hover{
            color: $brand-success;
            background-color: transparent;
          }
        }
      }
    }
  }
}

.banner-home{
  margin-top: 70px;
  width: 100%;
  height: 600px;
  position: relative;
  overflow: hidden;
  z-index: 1;
  img{
    width: 200px;
    @media (min-width: $screen-md-min) {
        width: auto;
    }
  }
  .content-quemsomos{
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    text-align: right;
    z-index: 3;
    margin-top: 234px;
    padding-right: 131px;
    margin-left: 60px;
    @media (min-width: $screen-md-min) {
        margin-top: 200px;
        margin-left: 0px;
    }
    .btn{
      color: $body-bg;
      width: 135px;
      margin-top: 20px;
      margin-right: 62px;
      margin-left: 80px;
      @media (min-width: $screen-md-min) {
          width: 230px;
          margin-left: 0;
      }
    }
  }
  .col-1{
    background-color: $text-color;
    @include transform(skewX(-25deg));
    width: 67%;
    position: absolute;
    top: 0;
    left: -17%;
    text-align: center;
    padding: 30px;
    color: $body-bg;
    z-index: 2;
    height: 100%;
    border-right: 1px solid $body-bg;
    overflow: hidden;
    @media (min-width: $screen-md-min) {
        width: 60%;
        left: -10%;
    }
    .bg{
      background-image: url('../img/banner-quemsomos.jpg');
      @include transform(skewX(25deg));
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      position: absolute;
      top: 0;
      left: 126px;
      width: 100%;
      height: 100%;
      z-index: 1;
    }
    .mask{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 2;
      background-color: $text-color;
      @include opacity(.7);
    }
  }
  .col-2{
    background-color: $brand-success;
    @include transform(skewX(-25deg));
    width: 69%;
    position: absolute;
    top: 0;
    right: -19%;
    z-index: 1;
    height: 100%;
    @media (min-width: $screen-md-min) {
        width: 61%;
        right: -11%;
    }
    h1{
      @include transform(skewX(25deg));
    }
    .linha-1, .linha-2{
      height: 50%;
      height: 50%;
      position: relative;
    }
    .linha-1{
      background-color: $body-bg;
      .bg{
        background-image: url('../img/banner-proama.jpg');
        @include transform(skewX(25deg));
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        position: absolute;
        top: 0;
        left: -126px;
        width: 100%;
        height: 100%;
        z-index: 1;
      }
      .mask{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        background-color: $text-color;
        @include opacity(.7);
      }
      .content{
        position: absolute;
        top: 26px;
        left: 93px;
        z-index: 3;
        color: $body-bg;
        .barra-vermelha{
          background-color: $brand-danger;
          display: block;
          width: 103px;
          height: 50px;
          margin-bottom: 11px;
        }
        h3{
          margin: 0;
          a{
            @include transform(skewX(25deg));
            color: $body-bg;
            text-indent: 8px;
            display: block;
            span{
              font-weight: 200;
            }
          }
        }
        p{
          line-height: 19px;
          padding-left: 9px;
          span{
          }
        }
        .btn{
          @include transform(skewX(5deg));
          color: $body-bg;
          width: 75%;
          margin-left: 13px;
          @media (min-width: $screen-sm-min) {
              width: 100%;
          }
        }
      }
    }
    .linha-2{
      .mask{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        background-color: rgba(0,0,0,0.2);
        @include background-image(linear-gradient(to right, rgba(0,0,0,0),rgba(0,0,0,0), rgba(0,0,0,0.2)));
      }
      .content{
        position: absolute;
        top: 61px;
        left: 103px;
        z-index: 2;
        h3{
          a{
            @include transform(skewX(25deg));
            color: $body-bg;
            text-indent: 8px;
            display: block;
          }
        }
        .btn{
          @include transform(skewX(5deg));
          color: $body-bg;
          width: 100%;
          margin-left: 13px;
        }
      }
    }
  }
}

// canvas network effect
canvas {
  width: 100%;
  height: 100%;
}
