@import "_variables";

.navbar-brand{
  img{
    width: auto;
    max-width: 170px; 
  } 
} 

  
//========== div banner ==========//
.div-banner{
  position: relative;
  .title{
    text-align: left; 
    margin: 10px 100px !important; 
    font-size: 40px;
    position: relative;
    z-index: 1;
    @media (max-width: 575.98px){
      margin: 10px 20px !important;
    }
    a{
      color: $primary-color !important;
    }
  }
  .conteudo{
    font-size: 16px;
    font-family: 'Libre Baskerville',serif;
    text-align: left;
    width: 50%;
    margin: 0 100px 40px!important;
    line-height: 24px;
    position: relative;
    z-index: 1;
    @media (max-width: 575.98px){
      margin: 0 25px 35px !important;
      width: 85%; 
    }
    a{
      color: black !important;
    }
  }
  .botao{
    margin: 10px 100px;
    cursor: pointer;
    position: relative;
    z-index: 1;
    color: white;
    @media (max-width: 575.98px){
      margin: 0 25px;
    }
  }
  #grano-carousel-conteudo{
    margin: 0;
  }
}

.mask-banner{
  background-color: rgba( 255, 255, 255,.3);
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  @media (min-width: 768px){
    display: none;
  }
}
//========== Fim div banner ==========//


//========== Modal ==========//

.modal-lg{
  width: 100%;
  margin: 0;
  height: 100%;
  background-color: white;
}

.conteudo-modal{
  background-color: white;
  h1{
    text-align: left;
  }
  .container{
    margin-bottom: 0;
  }  
}

.btn-modal{
    padding: 0;
    background-color: $primary-color;
    border: none;
    float: right;
    border-radius: 50px;
    width: 45px;
    height: 45px;
    margin-top: 40px;
    margin-right: 40px;
    -webkit-transition: -webkit-transform .4s ease;
    transition: transform .4s ease;
    &:hover{
      -ms-transform: rotate(180deg);
      -webkit-transform: rotate(180deg);
      transform: rotate(180deg);
      background-color: $primary-color;  
    }
    img{
      max-width: 35px;
    }
}
    
.row-conteudo-modal{
  margin: 50px 0px;
  @media (max-width: 767.98px){
    margin-top: 100px;
  }
  .col-md-4{
    padding: 25px 50px;
    p{
      font-size: 14px;
    }
  }
  .carousel {
    padding: 0 !important;
  }
  /* Indicators list style */
  .article-slide .carousel-indicators {
      bottom: 0;
      left: 0;
      margin-left: 10px;
      width: 100%;
  }
  /* Indicators list style */
  .article-slide .carousel-indicators li {
      border: medium none;
      border-radius: 0;
      float: left;
      height: 54px;
      margin-bottom: 5px;
      margin-left: 0;
      margin-right: 5px !important;
      margin-top: 0;
      width: 100px;
  }
  /* Indicators images style */
  .article-slide .carousel-indicators img {
      border: 2px solid #FFFFFF;
      float: left;
      height: 54px;
      left: 0;
      width: 100px;
  }
  /* Indicators active image style */
  .article-slide .carousel-indicators .active img {
      border: 2px solid #428BCA;
      opacity: 0.7;
  }
}


//========== Fim Modal ==========//



//========== div 1 ==========//

.div1{
  padding-top: 80px;
  @media (max-width: 575.98px){ 
    padding-top: 15px;
  }
  .container{
    @media (max-width: 991.98px){
      margin-bottom: 5em;  
    }    
  }
  .div-left{
    padding: 10px 40px;
    @media (max-width: 575.98px){
      padding: 0 15px;
    }
    h2{
      color: $primary-color;
    }
    p{
      font-size: 16px;
      line-height: 25px;
      &:nth-child(4){
        margin-bottom: 40px;
      }
    }
    .botao{
      margin-right: 20px;
    }
    .link{
      text-decoration: underline;
      font-family: 'Libre Baskerville',serif;
    } 
  }
  .div-right{
    @media (max-width: 575.98px){
      margin-top: 40px;
    }
  }
  .img-div-right{
    background-image: url('../img/foto-casamento-1.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 500px;
    @media (max-width: 575.98px){
      height: 300px;
    }  
  }  
  .quadro{
    .col-md-12{
      padding: 0;
    }
    .col-sm-6{
      @nth-child(2){
        @media (min-width: 768px){
          padding: 0px 25px;
        }
      }
    }
  }
  .gal {  
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3; 
  } 
  .gal img{ 
    width: 100%; 
    padding: 7px 0;
    height: auto;
  }
    @media (max-width: 500px) {    
      .gal {  
        -webkit-column-count: 1; /* Chrome, Safari, Opera */
        -moz-column-count: 1; /* Firefox */
        column-count: 1;  
      }    
    }
  .row-conteudo-modal{
    .col-sm-6{
      &:nth-child(2){
        padding: 0 25px;
      }
    }
  }       
}

//========== Fim div 1 ==========//

//========== div 2 ==========//
    
.div2{    
  position: relative; 
  .contato{
    @media (max-width: 767.98px){
      padding: 60px 15px;
    }
    @media (min-width: 1200px){
      padding: 25px 25px;
    }
  }

  #toggle-view {
    list-style: none;  
    font-size: 11px;
    margin: 0;
    padding: 0;
    width: 100%;
  }

  #toggle-view li {
    margin:10px 0px;
    border-bottom: 1px solid $primary-color;
    position:relative;
    cursor:pointer;
  }
  
  #toggle-view h3 {
    margin: 5px 0;
    font-size: 16px;
  }

  #toggle-view span {
    position: absolute;
    right: 5px;
    top: -5px;
    color: $primary-color;
    font-size: 22px;
  }
  
  #toggle-view .panel {
    margin:5px 0;
    display:none;
  }
  .servicos{
    .container{
      margin: 0;
      width: 100%;
    }  
  }
  .titulo-box{
    font-family: 'Libre Baskerville',serif;
    font-size: 35px;
    line-height: 35px;
    color: white;
    padding: 35px 25px;
    text-shadow: 1px 0px 6px rgba(0, 0, 0, 0.50);
    position: absolute;
    @media (min-width: 768px) and (max-width: 991.98px){
      font-size: 25px;
      padding: 20px;    
    }
  } 
  .img-left{
    padding: 0;
  }
  .top-div{
    position: relative;
    background-image: url('../img/foto-casamento-2.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 350px;  
    @media (min-width: 768px){
      border-right: 1px solid white;
      border-bottom: 1px solid white;
    }      
    &:after{
      opacity: 0;
      position: absolute;
      left: 42px;
      top: 31%;
      width: 21%;
      height: 4px;
      background: #fff;      
      content: '';
      @media (max-width: 575.98px){
        top: 32%;
      }
      @media (min-width: 768px) and (max-width: 991.98px){
        left: 38px;   
      }
    }
    @media (min-width: 768px){
      @-webkit-keyframes efeito-hover-top{
        from { top: 34%; opacity: 0; }
        to { top: 31%; opacity: 1; }  
      }
      @Keyframes efeito-hover-top{
        from { top: 34%; opacity: 0; }
        to { top: 31%; opacity: 1; }  
      }
    }
    &:hover:after{
      animation: efeito-hover-top .5s;
      -webkit-animation: efeito-hover-top .5s;
      -moz-animation: efeito-hover-top .5s;
      opacity: 1;
    }
    .mask-div2{
      opacity: 0;
      transition: all .5s;
      height: 100%; 
      position: absolute;
      width: 100%;
      top: 0;
      left: 0;  
      .botao{
        @media (min-width: 992px){
          opacity: 1;
        }
      }      
      &:hover{
        background-color: rgba(211, 112, 76, 0.7);
        opacity: 1;
        .botao-mask{
          @media (min-width: 992px){
            display: block;
          }
        }
      } 
    }
    .botao{
      border: 3px solid white;
      position: absolute;
      top: 75%;
      left: 50%;
      margin-left: -64px;
      transition: all .1s;
      opacity: 1;
      &:hover{
        border: 3px solid white;
        top: 75%;
        left: 50%;
        margin-left: -64px;
        color: white;
        background-color: $primary-color;
      } 
      @media (min-width: 992px){
        display: none;
      }
    }
  }
  .left-bottom{
    position: relative;
    background-image: url('../img/banner-2.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 350px;  
    @media (min-width: 768px){
      border-right: 1px solid white;
      border-top: 1px solid #fff;
    }      
    &:after{
      opacity: 0;
      position: absolute;
      left: 42px;
      top: 21%;
      width: 31%;
      height: 4px;
      background: #fff;      
      content: '';
      @media (min-width: 768px) and (max-width: 991.98px){
        left: 38px;   
      }
    }
    @-webkit-keyframes efeito-hover{
      from { top: 24%; opacity: 0; }
      to { top: 21%; opacity: 1; }  
    }
    @Keyframes efeito-hover{
      from { top: 24%; opacity: 0; }
      to { top: 21%; opacity: 1; }  
    }    
    &:hover:after{
      animation: efeito-hover .5s;
      -webkit-animation: efeito-hover .5s;
      -moz-animation: efeito-hover .5s;
      opacity: 1;
    }
    .mask-div2{
      opacity: 0;
      transition: all .5s;
      height: 100%; 
      position: absolute;
      width: 100%;
      top: 0;
      left: 0;  
      .botao{
        @media (min-width: 992px){
          opacity: 1;
        }
      }      
      &:hover{
        background-color: rgba(211, 112, 76, 0.7);
        opacity: 1;
        .botao-mask{
          @media (min-width: 992px){
            display: block;
          }
        }
      }
    }
    .botao{
      border: 3px solid white;
      position: absolute;
      top: 75%;
      left: 50%;
      margin-left: -64px;
      transition: all .1s;
      opacity: 1;
      &:hover{
        border: 3px solid white;
        top: 75%;
        left: 50%;
        margin-left: -64px;
        color: white;
        background-color: $primary-color;
      }
      @media (min-width: 992px){
        display: none;
      }
    }
  }
  .right-bottom{
    position: relative;
    background-image: url('../img/banner-3.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 350px;  
    @media (min-width: 768px){
      border-right: 1px solid white;
      border-left: 1px solid #fff;
      border-top: 1px solid #fff;
    }      
    &:after{
      opacity: 0;
      position: absolute;
      left: 42px;
      top: 21%;
      width: 51%;
      height: 4px;
      background: #fff;      
      content: '';
      @media (min-width: 768px) and (max-width: 991.98px){
        left: 38px;   
      }
    }
    @-webkit-keyframes efeito-hover{
      from { top: 24%; opacity: 0; }
      to { top: 21%; opacity: 1; }  
    }
    @Keyframes efeito-hover{
      from { top: 24%; opacity: 0; }
      to { top: 21%; opacity: 1; }  
    }
    &:hover:after{
      animation: efeito-hover .5s;
      -webkit-animation: efeito-hover .5s;
      -moz-animation: efeito-hover .5s;
      opacity: 1;
    }
    .mask-div2{
      opacity: 0;
      transition: all .5s;
      height: 100%; 
      position: absolute;
      width: 100%;
      top: 0;
      left: 0;  
      .botao{
        @media (min-width: 992px){
          opacity: 1;
        }
      }      
      &:hover{
        background-color: rgba(211, 112, 76, 0.7);
        opacity: 1;
        .botao-mask{
          @media (min-width: 992px){
            display: block;
          }
        }
      }
    }
    .botao{
      border: 3px solid white;
      position: absolute;
      top: 75%;
      left: 50%;
      margin-left: -64px;
      transition: all .1s;
      opacity: 1;
      &:hover{
        border: 3px solid white;
        top: 75%;
        left: 50%;
        margin-left: -64px;
        color: white;
        background-color: $primary-color;
      }
      @media (min-width: 992px){
        display: none;
      }
    }
  }
  .col-img-right{
      .img-right1{
        .col-sm-6{
          &:nth-child(1){
            background-image: url('../img/foto-casamento-diy.png');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            height: 350px;
              @media (min-width: 768px){
                border-bottom: 1px solid white;
                border-right: 1px solid white;
                border-left: 1px solid white;
              }   
            &:after{
              opacity: 0;
              position: absolute;
              left: 42px;
              top: 22%;
              width: 21%;
              height: 4px;
              background: #fff;      
              content: ''; 
              @media (min-width: 768px) and (max-width: 991.98px){
                left: 38px;   
              }     
            }
            @-webkit-keyframes efeito-hover2{
              from { top: 25%; opacity: 0; }
              to { top: 22%; opacity: 1; }
            }
            @Keyframes efeito-hover2{
              from { top: 25%; opacity: 0; }
              to { top: 22%; opacity: 1; }
            }
            &:hover:after{
              animation: efeito-hover2 .5s;
              -webkit-animation: efeito-hover2 .5s;
              -moz-animation: efeito-hover2 .5s;
              opacity: 1;
            }
            .mask-div2{
              opacity: 0;
              transition: all .5s;
              height: 100%; 
              position: absolute;
              width: 100%;
              top: 0;
              left: 0;  
              .botao{
                @media (min-width: 992px){
                  opacity: 1;
                }
              }      
              &:hover{
                background-color: rgba(211, 112, 76, 0.7);
                opacity: 1;
                .botao-mask{
                  @media (min-width: 992px){
                    display: block;
                  }
                }
              }
            }
            .botao{
                border: 3px solid white;
                position: absolute;
                top: 75%;
                left: 50%;
                margin-left: -64px;
                transition: all .1s;
                opacity: 1;
                &:hover{
                  border: 3px solid white;
                  top: 75%;
                  left: 50%;
                  margin-left: -64px;
                  color: white;
                  background-color: $primary-color;
                }
                @media (min-width: 992px){
                  display: none;
                }
            }                    
          }
          &:nth-child(2){
            background-image: url('../img/foto-casamento-kids.png');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            height: 350px;    
            @media (min-width: 768px){
              border-left: 1px solid white; 
              border-bottom: 1px solid white; 
            } 
            &:after{
              opacity: 0;
              position: absolute;
              left: 42px;
              top: 22%;
              width: 23%;
              height: 4px;
              background: #fff;      
              content: '';
              @media (min-width: 768px) and (max-width: 991.98px){
                left: 38px;   
              }      
            }
            @-webkit-keyframes efeito-hover2{
              from { top: 25%; opacity: 0; }
              to { top: 22%; opacity: 1; }
            }
            @Keyframes efeito-hover2{
              from { top: 25%; opacity: 0; }
              to { top: 22%; opacity: 1; }
            }
            &:hover:after{
              animation: efeito-hover2 .5s;
              -webkit-animation: efeito-hover2 .5s;
              -moz-animation: efeito-hover2 .5s;
              opacity: 1;
            }
            .mask-div2{
              opacity: 0;
              transition: all .5s;
              height: 100%; 
              position: absolute;
              width: 100%;
              top: 0;
              left: 0;  
              .botao{
                @media (min-width: 992px){
                  opacity: 1;
                }
              }      
              &:hover{
                background-color: rgba(211, 112, 76, 0.7);
                opacity: 1;
                .botao-mask{
                  @media (min-width: 992px){
                    display: block;
                  }
                }
              }
            }
            .botao{
                border: 3px solid white;
                position: absolute;
                top: 75%;
                left: 50%;
                margin-left: -64px;
                transition: all .1s;
                opacity: 1;
                &:hover{
                  border: 3px solid white;
                  top: 75%;
                  left: 50%;
                  margin-left: -64px;
                  color: white;
                  background-color: $primary-color;
                }
                @media (min-width: 992px){
                  display: none;
                }
            }              
          }
        }
      }
      
    .img-right2{
      .col-sm-6{
        &:nth-child(1){
          background-image: url('../img/foto-casamento-social.png');
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
          height: 350px;
            @media (min-width: 768px){
              border-right: 1px solid white;
              border-left: 1px solid white;  
              border-top: 1px solid white;
            }
          &:after{
            opacity: 0;
            position: absolute;
            left: 42px;
            top: 22%;
            width: 32%;
            height: 4px;
            background: #fff;      
            content: '';
            @media (min-width: 768px) and (max-width: 991.98px){
              left: 38px;   
            }      
          }
          @-webkit-keyframes efeito-hover2{
            from { top: 25%; opacity: 0; }
            to { top: 22%; opacity: 1; }
          }
          @Keyframes efeito-hover2{
            from { top: 25%; opacity: 0; }
            to { top: 22%; opacity: 1; }
          }
          &:hover:after{
            animation: efeito-hover2 .5s;
            -webkit-animation: efeito-hover2 .5s;
            -moz-animation: efeito-hover2 .5s;            
            opacity: 1;
          }
          .mask-div2{
            opacity: 0;
            transition: all .5s;
            height: 100%; 
            position: absolute;
            width: 100%;
            top: 0;
            left: 0;  
            .botao{
              @media (min-width: 992px){
                opacity: 1;
              }
            }      
            &:hover{
              background-color: rgba(211, 112, 76, 0.7);
              opacity: 1;
              .botao-mask{
                @media (min-width: 992px){
                  display: block;
                }
              }
            }
          }
          .botao{
              border: 3px solid white;
              position: absolute;
              top: 75%;
              left: 50%;
              margin-left: -64px;
              transition: all .1s;
              opacity: 1;
              &:hover{
                border: 3px solid white;
                top: 75%;
                left: 50%;
                margin-left: -64px;
                color: white;
                background-color: $primary-color;
              }
              @media (min-width: 992px){
                display: none;
              }
          }      
        }
        &:nth-child(2){
          background-image: url('../img/foto-casamento-taca.png');
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
          height: 350px;
          @media (min-width: 768px){
            border-left: 1px solid white;  
            border-top: 1px solid white; 
          }  
           &:after{
              opacity: 0;
              position: absolute;
              left: 42px;
              top: 22%;
              width: 54%;
              height: 4px;
              background: #fff;      
              content: '';
              @media (min-width: 768px) and (max-width: 991.98px){
                left: 38px;   
              }      
            }
            @-webkit-keyframes efeito-hover2{
              from { top: 25%; opacity: 0; }
              to { top: 22%; opacity: 1; }
            }
            @Keyframes efeito-hover2{
              from { top: 25%; opacity: 0; }
              to { top: 22%; opacity: 1; }
            }
            &:hover:after{
              animation: efeito-hover2 .5s;
              -webkit-animation: efeito-hover2 .5s;
              -moz-animation: efeito-hover2 .5s;              
              opacity: 1;
            }
            .mask-div2{
              opacity: 0;
              transition: all .5s;
              height: 100%; 
              position: absolute;
              width: 100%;
              top: 0;
              left: 0;  
              .botao{
                @media (min-width: 992px){
                  opacity: 1;
                }
              }      
              &:hover{
                background-color: rgba(211, 112, 76, 0.7);
                opacity: 1;
                .botao-mask{
                  @media (min-width: 992px){
                    display: block;
                  }
                }
              }
            }
            .botao{
                border: 3px solid white;
                position: absolute;
                top: 75%;
                left: 50%;
                margin-left: -64px;
                transition: all .1s;
                opacity: 1;
                &:hover{
                  border: 3px solid white;
                  top: 75%;
                  left: 50%;
                  margin-left: -64px;
                  color: white;
                  background-color: $primary-color;
                }
                @media (min-width: 992px){
                  display: none;
                }
            }    
        }      
      }
    }
  }
}

//========== Fim div 2 ==========//


//========== div 3 ==========//

.div3{
  background-color: #F8ECE1;
  padding-bottom: 50px;
  h1{
    padding: 40px 0;
    margin: 0;
  }
  .col-md-8{
  @media (max-width: 991.98px){
    margin-top: 100px;
  }
    .carousel-inner>.item>img{
      width: 100%;
      height: 100vh;
      @media (max-width: 575.98px){
        height: 50vh;
      }
      @media (min-width: 576px) and (max-width: 767.98px){
        height: 70vh;
      }     
      @media (min-width: 768px) and (max-width: 991.98px){
        height: 85vh;
      }      
    }
  }
  .modal{
    .container{
      margin: 0;
      padding: 0;
      width: 100%; 
    }    
  } 
  .container{
      margin-bottom: 0; 
  }
  .carousel {
      margin-bottom: 0;
      @media (min-width: 768px){
        padding: 0 40px 30px 40px;
      }      
  }
  .carousel-control {
    left: -40px;
    background: none;
    color: $primary-color;
    font-size: 120px;
    width: auto;
    margin-top: 130px;
    opacity: 1;
    font-family: Lucida Sans Unicode;
    @media (max-width: 767.98px){
      display: none;
    }
    @media (min-width: 768px) and (max-width: 991.98px){
      margin-top: 4%;
      left: -15px;
    }
    @media (min-width: 992px) and (max-width: 1199.98px){
      margin-top: 9%;
      left: -15px;
    }
  }
  .carousel-control.right {
    position: absolute;
    left: 100%; 
    @media (max-width: 767.98px){
      display: none;
    }
    @media (min-width: 768px) and (max-width: 991.98px){
      left: 96%;
      display: block;
    }
  }
  .carousel-indicators {
    right: 50%;
    top: auto;
    bottom: -25px;
    margin-right: -19px;
    z-index: 1;
    @media (max-width: 767.98px){
      display: none;
    }
  }   
  .carousel-indicators li {    
    background: #cecece; 
  }
  .carousel-indicators .active { 
    background: #428bca;
  }
  .thumbnail{    
    margin-bottom: 25px;
    line-height: 1.8;
    border: 1px solid #ddd; 
    padding: 0;
    img{
      width: 100%;
      height: 487px;
    }
    p{
      text-shadow: 1px 0px 6px rgba(0, 0, 0, 0.50);
      color: white;
      font-family: 'Libre Baskerville',serif;
      &:nth-child(1){
        font-size: 28px;
        margin-bottom: 0px;
        text-shadow: 1px 0px 6px rgba(0, 0, 0, 0.50);
        @media (min-width: 768px) and (max-width: 991.98px){
          font-size: 22px;
        }
      }
      &:nth-child(2){
        font-size: 18px;
        margin-top: 10px;
        @media (min-width: 768px) and (max-width: 991.98px){
          font-size: 14px;
        }
      }
    }
    .div-descricao{
      position: absolute;
      top: 40%;
      width: 100%;
      text-align: center;
    }
  }
  .carousel-inner .item{
    height: 100%;
    .col-sm-4{
      padding: 0;
    }
  }
}


//========== Fim div 3 ==========//


//========== div 4 ==========//

.div4{
  .container{
    margin: 0;
    width: 100%;
  }
  .col-sm-6{
    text-align: center;
    height: 100vh;
    padding-top: 250px;
    border-top: 4px solid white;
    @media (max-width: 575.98px){
       height: 100vh;
       padding-top: 240px;
    }      
    background-size: cover; 
    background-repeat: no-repeat;
    border-right: 2px solid white;  
    .paragrafo-1{ 
        font-size: 24px;
        color: $primary-color; 
        margin: 0;
        font-family: 'Libre Baskerville',serif;
    }
    .paragrafo-2{
        font-size: 34px;
        margin: 15px 0 5px;
        font-family: 'Libre Baskerville',serif;
    }
    .paragrafo-3{
        font-size: 15px;
        margin-bottom: 40px;
        font-family: 'Libre Baskerville',serif;
    }
    .mask-saibamais{
      height: 0;
      padding: 100px 120px;
      width: 100%;
      position: absolute;
      margin: 0;
      top: 0;
      left: 0;
      background-color: #D3704C;
      opacity: .0;
      text-align: center;
      transition: .5s;
      @media (max-width: 575.98px){
        padding: 65px 30px;
      }
      @media (min-width: 576px) and (max-width: 767.98px){
        padding: 60px 30px;
      } 
      @media (min-width: 768px) and (max-width: 992.98px){
        padding: 90px 50px;
      }      
      p{
        color: white;
        &:nth-child(1){
          font-size: 30px;
          font-family: 'Libre Baskerville',serif;
          margin-bottom: 0;
        }
      }
      .mask-height{
        height: 0;
      }
      .botao{
        border: 3px solid white;
        cursor: pointer; 
          &:hover{
            color: white;
        }
      }
      hr{
        width: 24%;
        border: 1px solid white;
        &:nth-child(3){
          margin-top: 40px;
        }
        &:nth-child(5){
          margin-bottom: 80px;
        }
      }
    }
    .botao{
      width: 30%;
      margin-left: auto;
      margin-right: auto;
      @media (max-width: 991.98px){
        width: 45%;
      }
    }
  }
  #saiba-mais1, #saiba-mais2{
    cursor: pointer;
  }
}

//========== Fim div 4 ==========//


//========== div 5 ==========//

.div5{
padding-top: 100px;
background: #FAFAFA;
@media (max-width: 575.98px){
  padding-top: 30px;
}
  h1{
    text-align: left;
    margin-top: 0;
  }
  p{
    &:nth-child(1){
      font-size: 18px;
      line-height: 24px;
    }
  }
  .endereco{
    margin-top: 25px; 
      p{
        &:nth-child(1){
          font-size: 34px;
          margin-bottom: 10px;
        }
        &:nth-child(2){
          font-size: 18px;
        }
      }
    }
}

//========== Fim div 5 ==========//


//========== Formulário de contato ==========//

.contato{
  padding: 0 25px;
  .wpcf7-form-control{
    border-radius: 10px;
    border-color: $primary-color;
  }
  .wpcf7-textarea{
    border-radius: 10px;
    border-color: $primary-color;
    height: 200px;
  }
  .wpcf7-submit{
    background-color: $primary-color !important;
    transition: .4s;
    font-family: 'Libre Baskerville', serif;
  }
  .wpcf7-submit:hover{
    background: 0 0 !important;
    color: #D3704C;
    box-shadow: inset 0 0 0 3px #D3704C;
    transform: none;
  }
}  

//========== Formulário de contato ==========//