.navbar-brand img {
  width: auto;
  max-width: 170px;
}

.botao-banner {
  bottom: 15%;
  left: 50%;
  position: absolute;
  margin-left: -125px;
  font-size: 20px !important;
}
@media (max-width: 992px) {
  .botao-banner {
    bottom: 5%;
  }
}

.titulo {
  border: 1px solid #F3A83A;
  width: 30%;
}

.paragrafo-div {
  text-align: center;
  line-height: 20px;
  font-size: 18px;
  padding: 15px;
}
@media (max-width: 414px) {
  .paragrafo-div {
    padding-left: 30px;
    padding-right: 30px;
  }
}

.div2 .botao {
  margin-left: auto;
  margin-right: auto;
  display: block;
  font-size: 20px;
}
.div2 img {
  width: 85px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  transition: all 0.5s cubic-bezier(0.86, -0.365, 0.07, 1.345);
  transition-timing-function: cubic-bezier(0.86, -0.365, 0.07, 1.345);
}
.div2 img:hover {
  transform: scale(1.07);
}

.div3 {
  background-image: url("../img/home-noticia.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 110vh;
}
@media (max-width: 414px) {
  .div3 {
    height: auto;
  }
}
.div3 .col-noticias-left {
  top: 50%;
  margin-top: -153px;
  animation: pound 5.0s infinite;
  animation-delay: 1s;
}
@media (max-width: 414px) {
  .div3 .col-noticias-left {
    top: 0;
    margin-top: 0;
    margin-bottom: 50px;
    padding-top: 30px;
  }
}
@media (min-width: 415px) and (max-width: 768px) {
  .div3 .col-noticias-left {
    margin-top: -200px;
  }
}
.div3 .col-noticias-left ul {
  padding-left: 0;
}
.div3 .col-noticias-left .categoria-post {
  font-size: 20px;
  color: #F3A83A;
  margin-bottom: 0;
  font-weight: 700;
  list-style: none;
}
.div3 .col-noticias-left .titulo-post {
  color: white;
  font-size: 38px;
  font-weight: 700;
  line-height: 42px;
}
.div3 .col-noticias-left .excerpt-post {
  color: white;
  font-size: 26px;
  line-height: 30px;
  margin-bottom: 50px;
}
.div3 .col-noticias-right {
  top: 50%;
  margin-top: -237px;
  background-color: #15427D;
  padding: 43px;
  animation: pound 5.0s infinite;
  animation-delay: 4s;
}
@media (max-width: 414px) {
  .div3 .col-noticias-right {
    top: 0;
    margin-top: 0;
    margin-bottom: 0px;
    padding-top: 40px;
  }
}
.div3 .col-noticias-right p:nth-child(1) {
  font-size: 38px;
  line-height: 40px;
  font-weight: 700;
  color: #F3A83A;
}
.div3 .col-noticias-right p:nth-child(2) {
  color: #fff;
  font-size: 26px;
  line-height: 30px;
  margin-bottom: 50px;
}

@media (min-width: 415px) {
  @keyframes pound {
    from {
      transform: none;
    }
    50% {
      transform: scale(1.05);
    }
    to {
      transform: none;
    }
  }
}
.div4 {
  padding-top: 8em;
  padding-bottom: 5em;
}
.div4 .container {
  margin-bottom: 0;
}
.div4 .botao {
  display: inherit;
  margin-top: 70px;
}
.div4 h2 {
  margin-bottom: 0px;
  font-size: 32px;
}
.div4 .hide-bullets {
  list-style: none;
  margin-left: -5px;
  margin-top: 20px;
}
.div4 .hide-bullets .col-sm-4 {
  padding: 0px 5px 0px 5px;
  position: relative;
  width: 32%;
  display: inline-grid;
}
.div4 .hide-bullets .col-sm-4 a {
  min-height: 70px;
  border: 1px solid #F3A83A;
  border-radius: 0px;
  cursor: pointer;
}
.div4 .carousel-inner {
  width: 370px;
  height: 360px;
  float: left;
  border: 1px solid #F3A83A;
}
@media (max-width: 600px) {
  .div4 .carousel-inner {
    width: 100%;
    height: 360px;
    margin-bottom: 35px;
  }
}
.div4 .carousel-inner .item {
  background: none;
  width: 370px;
  height: 360px;
  position: relative;
}
.div4 .carousel-inner .item img {
  position: absolute;
  max-width: 300px;
  max-height: 300px;
  left: 50%;
  top: 50%;
  margin-left: -150px;
}
@media (max-width: 414px) {
  .div4 .carousel-inner .item img {
    margin-left: -165px;
  }
}
.div4 .carousel-inner .item:nth-child(1) img {
  margin-top: -92px;
}
.div4 .carousel-inner .item:nth-child(2) img {
  margin-top: -45px;
}
.div4 .carousel-inner .item:nth-child(3) img {
  margin-top: -30px;
}
.div4 #carousel-text p {
  line-height: 25px;
  font-size: 20px;
  color: #15427D;
  margin-top: 10px;
}
.div4 .thumbnail > img {
  max-width: 80px;
  max-height: 50px;
  margin-left: -40px;
  position: absolute;
  top: 50%;
  left: 50%;
}
.div4 #carousel-selector-0 img {
  margin-top: -35px;
}
.div4 #carousel-selector-1 img {
  margin-top: -23px;
}
.div4 #carousel-selector-2 img {
  margin-top: -19px;
}
.div4 #slider-thumbs .col-sm-6 {
  position: relative;
}
.div4 #slider-thumbs .col-sm-6 button {
  position: absolute;
  font-size: 20px;
  top: 0;
  left: 50%;
  margin-left: -24%;
  margin-top: -45px;
}
@media (min-width: 768px) and (max-width: 992) {
  .div4 #slider-thumbs .col-sm-6 button {
    margin-left: -20%;
    margin-top: 15px;
  }
}
@media (max-width: 992px) {
  .div4 #slider-thumbs .col-sm-6 button {
    left: 0;
    margin-left: 25px;
    margin-top: 0;
  }
}
.div4 #carousel-bounding-box {
  margin-right: 40px;
}
@media (max-width: 992px) {
  .div4 #carousel-bounding-box {
    margin-right: 0px;
  }
}

.div5 .categorias-blog {
  margin-left: 0;
  margin-bottom: 30px;
}
.div5 .categorias-blog button {
  display: inline;
  margin-right: 15px;
}
.div5 .categorias-blog button:nth-child(2) {
  background: none;
  color: #15427D;
  font-weight: unset;
  transition: none;
}
.div5 .categorias-blog button:nth-child(3) {
  background: none;
  color: #15427D;
  font-weight: unset;
  transition: none;
}
.div5 .botao {
  margin-left: auto;
  margin-right: auto;
  display: block;
  font-size: 17px;
}
.div5 .titulo {
  width: 32%;
}
.div5 h3 a {
  color: #15427D;
}
.div5 a {
  color: #F3A83A;
}

.lista-categoria {
  list-style: none;
  padding-left: 0px;
  color: #F3A83A;
  margin-bottom: 0px;
}

.excerpt {
  padding: 15px;
}
.excerpt p a {
  color: #F3A83A;
}

.posts {
  margin-bottom: 50px;
}
.posts .thumb img {
  width: 100%;
  height: 300px;
}

.div6 h4 {
  font-weight: 700;
  color: #F3A83A;
  margin: 0;
}
.div6 .titulo {
  width: 18%;
}
@media (min-width: 768px) {
  .div6 .contato {
    margin-left: 30px;
    padding-right: 100px;
  }
}
.div6 .contato input, .div6 .contato textarea {
  border-radius: 25px;
}
.div6 .contato .wpcf7-form-control .wpcf7-submit {
  font-weight: 700 !important;
  font-size: 18px !important;
  -webkit-transition: -webkit-transform .8s ease;
  transition: transform .8s ease;
}
.div6 .contato .botao {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 100%;
}
.div6 .padding {
  padding: 15px;
}
@media (min-width: 768px) {
  .div6 .padding {
    padding: 0px;
  }
}
.div6 ::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  font-family: 'PT Sans', sans-serif;
}
.div6 ::-moz-placeholder {
  /* Firefox 19+ */
  font-family: 'PT Sans', sans-serif;
}
.div6 :-ms-input-placeholder {
  /* IE 10+ */
  font-family: 'PT Sans', sans-serif;
}
.div6 :-moz-placeholder {
  /* Firefox 18- */
  font-family: 'PT Sans', sans-serif;
}

.item {
  width: 100%;
  background-image: url("../img/home-banner-1.jpg");
}
.item h1 {
  font-size: 55px;
}
.item .conteudo {
  padding: 250px;
  text-align: center;
  font-size: 23px;
  padding-top: 25px;
  color: white;
  line-height: 27px;
}
@media (min-width: 767px) and (max-width: 992px) {
  .item .conteudo {
    padding: 135px;
    padding-top: 25px;
  }
}
.item .conteudo a {
  color: white !important;
}
@media (max-width: 414px) {
  .item .conteudo {
    padding: 0px;
  }
}

#grano-carousel-conteudo .title a, #grano-carousel-conteudo .conteudo a {
  color: white !important;
}
#grano-carousel-conteudo .title a h1, #grano-carousel-conteudo .conteudo a h1 {
  font-size: 50px !important;
}
