
@import "bootstrap";
@import "compass/css3";

// icons font awesome
@import "iconsawesome/font-awesome";

// Módulos
@import "modules/banner";
@import "modules/bannerconteudo";
@import "modules/contato";

// scroll animation grano
@import "scrollanimationgrano";


// whitelabel

.container{
  margin-bottom: $container-margim-bottom;
}
a{
  @include transition-property(color);
  @include transition-duration(0.4s);
  &:hover{
    text-decoration: none;
  }
}

// nav bar =====================================================================

.navbar{
  z-index: 99999;
  margin-top: 0.5em;
  .container{
    margin-bottom: 0;
  }
  #bs-example-navbar-collapse-1{
    padding-top: 3em;
    padding-left: 2em;
  }
  a.navbar-brand{
    height: 130px;
  }
  .dropdown-menu{
    border: none;
    background-color: rgba(255,255,255,.7);
    @include box-shadow(0);
    @include border-radius(0);
  }
  ul.navbar-social{
    padding-top: 3em;
    display: none;
    /* Small devices (tablets, 768px and up) */
     @media (min-width: $screen-sm-min) {
      display: block;
     }
    li{
      display: inline-block;
      list-style: none;
      margin-left: 5px;
      a{
        color: $text-color;
        width: 30px;
        height: 30px;
        display: block;
        background-repeat: no-repeat;
        font-size: 0;
        &:before{
          @include fa-icon();
          width: 30px;
          height: 30px;
          font-size: 16px;
          @include border-radius(15px);
          color: white;
          padding-top: 7px;
          text-align: center;
          background-color: lighten($gray-base, 60%);
          @include transition-property(background-color);
          @include transition-duration(0.6s);
        }
      }
      &.facebook a{
        &:before{
          content: '\f09a';
        }
        &:hover:before{
          background-color: #3B5998;
        }
      }
      &.twitter a{
        &:before{
          content: '\f099';
        }
        &:hover:before{
          background-color: #55ACEE;
        }
      }
      &.youtube a{
        &:before{
          content: '\f16a';
        }
        &:hover:before{
          background-color: #E62817;
        }
      }
      &.flickr a{
        &:before{
          content: '\f16e';
        }
        &:hover:before{
          background-color: #FF0084;
        }
      }
      &.linkedin a{
        &:before{
          content: '\f0e1';
        }
        &:hover:before{
          background-color: #007AB9;
        }
      }
      &.googleplus a{
        &:before{
          content: '\f0d5';
        }
        &:hover:before{
          background-color: #DC4E41;
        }
      }
      &.contato a{
        &:before{
          content: '\f003';
        }
        &:hover:before{
          background-color: #DC4E41;
        }
      }
    }
  }
}

// / nav bar ===================================================================

// Back to top =================================================================
.back-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display:none;
}

// / Back to top ===============================================================

// widget
li.widget{
  @extend .well;
  list-style: none !important;
  h2{
    font-size: $font-size-h4;
    margin-bottom: 10px;
  }
  ul,li{
    list-style: none;
  }
}
.widget_search{
  label{
    span{
      display: none;
    }
  }
  form{
    @extend .input-group;
  }
  .search-submit{
    @extend .btn;
    @extend .btn-default;
    float: left;
    @include border-top-right-radius(0);
    @include border-bottom-right-radius(0);
    span{
      @extend .fa;
      @extend .fa-search;
      // @extend .glyphicon;
      // @extend .glyphicon-search;
      font-size: 0;
      &:before{
        font-size: $font-size-base+2;
      }
    }
  }
  input{
    @extend .form-control;
  }
}

// Portfolio ===================================================================
.container.blog-single{
  margin-top: $container-margim-bottom/2;
}
// ==> slide
#owl-single-porfolio{
  .item{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 600px;
    width: 100%;
  }
}
// / Portfolio =================================================================



// Blog ========================================================================
.container.blog-home, .container.blog-single{
  margin-top: $container-margim-bottom/2;
}
// ==> post thumb
.single-post-thumb{
  width: 100%;
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
// / Blog ======================================================================
