@import "_variables";

.navbar-brand{
  img{
    width: auto;
    max-width: 170px;
  }
}
.botao-banner{
    bottom: 15%;
    left: 50%;
    position: absolute;
    margin-left: -125px;
    font-size: 20px !important;
    @media(max-width: 992px){
      bottom: 5%;
    }
}
//titulo home
.titulo{
  border: 1px solid $second-color;
  width: 30%;
}
//paragrafo dentro da div2
.paragrafo-div{
  text-align: center;
  line-height: 20px;
  font-size: 18px;
  padding: 15px;
  @media(max-width: 414px){
    padding-left: 30px;
    padding-right: 30px;
  }
}
//botão da home
.div2{
  .botao{
    margin-left: auto;
    margin-right: auto;
    display: block;
    font-size: 20px;
  }
  img{
    width: 85px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    transition: all .5s cubic-bezier(.86,-.365,.07,1.345);
    transition-timing-function: cubic-bezier(.86,-.365,.07,1.345);
  }
  img:hover{
    transform: scale(1.07);
  }
}

.div3{
  background-image: url('../img/home-noticia.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 110vh;
  @media(max-width: 414px){
    height: auto;
  }
  .col-noticias-left{
    top: 50%;
    margin-top: -153px;
	  animation: pound 5.0s infinite;
    animation-delay: 1s;
    @media(max-width: 414px){
      top: 0;
      margin-top: 0;
      margin-bottom: 50px;
      padding-top: 30px;
    }
    @media(min-width: 415px) and (max-width: 768px){
        margin-top: -200px;
    }
    ul{
      padding-left: 0;
    }
    .categoria-post{
      font-size: 20px;
      color: $second-color;
      margin-bottom: 0;
      font-weight: 700;
      list-style: none;
    }
    .titulo-post{
      color: white;
      font-size: 38px;
      font-weight: 700;
      line-height: 42px;
    }
    .excerpt-post{
      color: white;
      font-size: 26px;
      line-height: 30px;
      margin-bottom: 50px;
    }
  }
  .col-noticias-right{
    top: 50%;
    margin-top: -237px;
    background-color: $primary-color;
    padding: 43px;
    animation: pound 5.0s infinite;
    animation-delay: 4s;
    @media(max-width: 414px){
      top: 0;
      margin-top: 0;
      margin-bottom: 0px;
      padding-top: 40px;
    }
    p{
      &:nth-child(1){
        font-size: 38px;
        line-height: 40px;
        font-weight: 700;
        color: $second-color;
      }
      &:nth-child(2){
        color: #fff;
        font-size: 26px;
        line-height: 30px;
        margin-bottom: 50px;
      }
    }

  }
}
@media(min-width: 415px){
  @keyframes pound {
    from { transform: none; }
    50% { transform: scale(1.05); }
    to { transform: none; }
  }
}

.div4{
  // background-color: #EDEDED;
  padding-top: 8em;
  padding-bottom: 5em;
  .container{
    margin-bottom: 0;
  }
  .botao{
    display: inherit;
    margin-top: 70px;
  }
  h2{
    margin-bottom: 0px;
    font-size: 32px;
  }
  .hide-bullets {
    list-style:none;
    margin-left: -5px;
    margin-top: 20px;
    .col-sm-4{
      padding: 0px 5px 0px 5px;
      position: relative;
      width: 32%;
      display: inline-grid;
      a{
        min-height: 70px;
        border: 1px solid $second-color;
        border-radius: 0px;
        cursor: pointer;
      }
    }
  }
  .carousel-inner{
    width: 370px;
    height: 360px;
    float: left;
    border: 1px solid $second-color;
    @media(max-width: 600px){
      width: 100%;
      height: 360px;  
      margin-bottom: 35px;
    } 
  }
  .carousel-inner .item{
    background: none;
    width: 370px;
    height: 360px;
    position: relative;
    img{
      position: absolute;
      max-width: 300px;
      max-height: 300px;
      left: 50%;
      top: 50%;
      margin-left: -150px;
      @media(max-width: 414px){
      margin-left: -165px;
      }
    }
    &:nth-child(1){
      img{
        margin-top: -92px;
      }
    }
    &:nth-child(2){
      img{
        margin-top: -45px;
      }
    }
    &:nth-child(3){
      img{
        margin-top: -30px;
      }
    }
  }
  #carousel-text{
    p{
      line-height: 25px;
      font-size: 20px;
      color: $primary-color;
      margin-top: 10px;
    }
  }
  .thumbnail>img{
    max-width: 80px;
    max-height: 50px;
    margin-left: -40px;
    position: absolute;
    top: 50%;
    left: 50%;
  }
  #carousel-selector-0 img{
    margin-top: -35px;
  }
  #carousel-selector-1 img{
    margin-top: -23px;
  }
  #carousel-selector-2 img{
    margin-top: -19px;
  }
  #slider-thumbs{
    .col-sm-6{
      position: relative;
      button{
        position: absolute;
        font-size: 20px;
        top: 0;
        left: 50%;
        margin-left: -24%;
        margin-top: -45px;
        @media(min-width: 768px) and (max-width: 992){
          margin-left: -20%;
          margin-top: 15px;
        }
        @media(max-width: 992px){
          left: 0;
          margin-left: 25px;
          margin-top: 0;
        }
      }
    }
  }
  #carousel-bounding-box{
    margin-right: 40px;
    @media(max-width: 992px){
      margin-right: 0px; 
    }
  }
}

.div5{
  .categorias-blog{
    margin-left: 0;
    margin-bottom: 30px;
    button{
      display: inline;
      margin-right: 15px;
      &:nth-child(2){
        background: none;
        color: $primary-color;
        font-weight: unset;
        transition: none;
      }
      &:nth-child(3){
        background: none;
        color: $primary-color;
        font-weight: unset;
        transition: none;
      }
    }
  }
  .botao{
    margin-left: auto;
    margin-right: auto;
    display: block;
    font-size: 17px;
  }
  .titulo{
    width: 32%;
  }
  h3{
    a{
      color: $primary-color;
    }
  }
  a{
    color: $second-color;
  }
}
//categorias dos posts
.lista-categoria{
  list-style: none;
  padding-left: 0px;
  color: $second-color;
  margin-bottom: 0px;
}
//conteúdo dentro do post na home
.excerpt{
  padding: 15px;
  p{
    a{
      color: $second-color;
    }
  }
}
.posts{
  margin-bottom: 50px;
  .thumb{
    img{
      width: 100%;
      height: 300px;
    }
  }
}
//div6 contato
.div6{
  h4{
    font-weight: 700;
    color: $second-color;
    margin: 0;
  }
  .titulo{
    width: 18%;
  }
  .contato{
    @media(min-width: $screen-sm-min){
      margin-left: 30px;
      padding-right: 100px;
    }
    input, textarea{
      border-radius: 25px;
    }
    .wpcf7-form-control .wpcf7-submit{
      font-weight: 700 !important;
      font-size: 18px !important;
      -webkit-transition: -webkit-transform .8s ease;
      transition: transform .8s ease;
    }
    .botao{
      margin-left: auto;
      margin-right: auto;
      display: block;
      width: 100%;
    }
  }
  .padding{
    padding: 15px;
    @media(min-width: $screen-sm-min){
      padding: 0px;
    }
  }

  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-family: 'PT Sans', sans-serif;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    font-family: 'PT Sans', sans-serif;
  }
  :-ms-input-placeholder { /* IE 10+ */
    font-family: 'PT Sans', sans-serif;
  }
  :-moz-placeholder { /* Firefox 18- */
    font-family: 'PT Sans', sans-serif;
  }
}

// Banner Div 1
.item{
  width: 100%;
  background-image: url('../img/home-banner-1.jpg');
  h1{
    font-size: 55px;
  }
  .conteudo{
    padding: 250px;
    text-align: center;
    font-size: 23px;
    padding-top: 25px;
    color: white;
    line-height: 27px;
    @media(min-width: 767px) and (max-width: 992px){
      padding: 135px;
      padding-top: 25px;
    }
    a{
      color: white !important;
    }
    @media(max-width: 414px){
      padding: 0px;
    }
  }
}

#grano-carousel-conteudo .title a, #grano-carousel-conteudo .conteudo a{
  color: white !important;
  h1{
    font-size: 50px !important;
  }
}
