@import "bootstrap";

// icons font awesome teste3
@import "iconsawesome/font-awesome";
@import "home";

// Módulos   
@import "modules/banner";
@import "modules/bannerconteudo";
@import "modules/contato";
@import "modules/page_sobre";
@import "modules/page_parcerias";
@import "modules/page_materiais_webinars";
@import "modules/trabalhe_conosco";
@import "modules/page_blog";
@import "modules/page_produtos";

// scroll animation grano 
@import "scrollanimationgrano";     

// preloader ===================================================================
#loading-bar .bar {
  background: $brand-primary;  
}
// / preloader =================================================================

// Fonte site
body{
  font-family: 'PT Sans', sans-serif;
  background-color: #FAFAFA;
}

// Padrão para os títulos
h1{
  text-align: center;
  color: $primary-color;
  font-weight: 700;
}
h2, h3{
  color: $primary-color;
  font-weight: 700;
}

// Padrão de cor do parágrafo
p{
  color: $text-paragrafo;
}

// Padrão Botão
.botao{
  background-color: $second-color;
  text-align: center;
  border-radius: 20px;
  color: white;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 5px;
  padding-bottom: 5px;
  border: none;
  font-size: 15px;
  font-weight: 700;
  transition: all .5s cubic-bezier(.86,-.365,.07,1.345);
  transition-timing-function: cubic-bezier(.86,-.365,.07,1.345);
}

.botao:hover{
  background-color: $second-color;
  color: white;
  transform: scale(1.1);
}

// whitelabel

.container{
  margin-bottom: $container-margim-bottom;
}
a{
  @include transition-property(color);
  @include transition-duration(0.4s);
  &:hover{
    text-decoration: none;
  }
}

// nav bar =====================================================================

.navbar-brand img{
  width: auto;   
  max-width: 170px;
  margin-top: 20px;
  @media(max-width: 414px){
    margin-top: 30px;
  }
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
  color: $second-color;
}

.navbar{  
  background-color: $body-bg;
  z-index: 10;
  margin-top: 0px;
  height: 100px;
  box-shadow: 0 0 10px rgba(34, 34, 34, 0.8);
  .container{
    margin-bottom: 0;
  }
  #bs-example-navbar-collapse-1{
    padding-top: 1em;
    padding-left: 2em; 
    background-color: #fafafa; 
    @media(max-witdh: 414px){
      padding-top: 0;
    }
    @media(min-width: 768px) and (max-width: 930px){
      width: 100%;
    }
    @media(min-width: 931px) and (max-width: 1100px){
      padding-left: 1em;
    }
  }
  a.navbar-brand{
    height: auto;
  }
  .dropdown-menu{
    border: none;
    background-color: rgba(255,255,255,.7);
    @include box-shadow(0);
  }
  ul.navbar-social{
    padding-top: 3em;
    display: none;
    /* Small devices (tablets, 768px and up) */
     @media (min-width: $screen-sm-min) {
      display: block;
     }
    li{
      display: inline-block;
      list-style: none;
      margin-left: 5px;
      a{
        color: $text-color;
        width: 30px;
        height: 30px;
        display: block;
        background-repeat: no-repeat;
        font-size: 0;
        &:before{
          @include fa-icon();
          width: 30px;
          height: 30px;
          font-size: 16px;
          color: white;
          padding-top: 7px;
          text-align: center;
          background-color: lighten($gray-base, 60%);
          @include transition-property(background-color);
          @include transition-duration(0.6s);
        }
      }
      &.facebook a{
        &:before{
          content: '\f09a';
        }
        &:hover:before{
          background-color: #3B5998;
        }
      }
      &.twitter a{
        &:before{
          content: '\f099';
        }
        &:hover:before{
          background-color: #55ACEE;
        }
      }
      &.youtube a{
        &:before{
          content: '\f16a';
        }
        &:hover:before{
          background-color: #E62817;
        }
      }
      &.flickr a{
        &:before{
          content: '\f16e';
        }
        &:hover:before{
          background-color: #FF0084;
        }
      }
      &.linkedin a{
        &:before{
          content: '\f0e1';
        }
        &:hover:before{
          background-color: #007AB9;
        }
      }
      &.googleplus a{
        &:before{
          content: '\f0d5';
        }
        &:hover:before{
          background-color: #DC4E41;
        }
      }
      &.contato a{
        &:before{
          content: '\f003';
        }
        &:hover:before{
          background-color: #DC4E41;
        }
      }
    }
  }
}

.bandeiras{
  float: right;
  position: absolute;
  top: 0;
  right: 1%;
  @media(max-width: 414px){
    left: 2%;
    right: 0;
  }
}
.redes-sociais{
  position: absolute;
  right: 10%;
  top: 22%;
  @media(max-width: 414px){
    right: 1%;
    top: 42%;
  }
  @media(min-width: 768px) and (max-width: 992px){
    right: 0;
    top: 30%;
  }
  @media(min-width: 993px) and (max-width: 1100px){
    right: 1%;
  }
  @media(min-width: 1200px) and (max-width: 1300px){
    right: 5%;
  }
  img{
    max-width: 50px;
  }
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus{
  color: $second-color;
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a{
  font-size: 16px;
  text-align: center;
  line-height: 22px;
  @media(min-width: 930px) and (max-width: 1200px){
      font-size: 14px;
    }
}
.nav>li{
  @media(max-width: 414px){
    display: -webkit-box;
  }
  @media(min-width: 768px) and (max-width: 992px){
    max-width: 75px;
  }  
  @media(min-width: 993px) and (max-width: 1200px){
    max-width: 65px;
  }
}
#menu-item-68, #menu-item-69, #menu-item-66{
  max-width: 100px;
  @media(max-width: 414px){
    max-width: unset;
  } 
  @media(min-width: 768px) and (max-width: 930px){
    max-width: 85px;
  }
  @media(min-width: 931px) and (max-width: 1200px){
    max-width: 76px;
  }
}
#menu-item-65{
  max-width: 180px;
  @media(max-width: 414px){
    max-width: unset;
  }
  @media(min-width: 993px) and (max-width: 1200px){
    max-width: 153px;
  }
}
#menu-item-3, #menu-item-7, #menu-item-64, #menu-item-67{
  padding-top: 10px;
}
.navbar-header{
  margin-left: 40px;
  @media(max-width: 414px){
    margin-left: 0;
  }
  @media(min-width: 930px) and (max-width: 1200px){
    margin-left: 10px;
  }
}
// / nav bar ===================================================================

// Back to top =================================================================
.back-to-top {
    background-color: $primary-color;
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display:none;
    border: none;
}

.btn-primary:hover{
  background-color: $primary-color !important;
}

// / Back to top ===============================================================

// widget
li.widget{
  @extend .well;
  list-style: none !important;
  h2{
    font-size: $font-size-h4;
    margin-bottom: 10px;
  }
  ul,li{
    list-style: none;
  }
}
.widget_search{
  label{
    span{
      display: none;
    }
  }
  form{
    @extend .input-group;
  }
  .search-submit{
    @extend .btn;
    @extend .btn-default;
    float: left;
    span{
      @extend .fa;
      @extend .fa-search;
      // @extend .glyphicon;
      // @extend .glyphicon-search;
      font-size: 0;
      &:before{
        font-size: $font-size-base+2;
      }
    }
  }
  input{
    @extend .form-control;
  }
}

// Portfolio ===================================================================
.container.blog-single{
  margin-top: $container-margim-bottom/2;
}
// ==> slide
#owl-single-porfolio{
  .item{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 600px;
    width: 100%;
    padding-top: 14em;
  }
}
// / Portfolio =================================================================

// Blog ========================================================================
.container.blog-home, .container.blog-single{
  margin-top: $container-margim-bottom/2;
}
// ==> post thumb
.single-post-thumb{  
  width: 100%;
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.thumb-single{
  width: 100%;
  height: auto;
}
// / Blog ======================================================================

.owl-wrapper-outer{
  overflow: hidden;
}
 
#grano-carousel-conteudo{
  margin-bottom: 10em;
  .item{
    @media(max-width: 414px){
      padding-top: 12em;
    }
  }
}

.blog-single{
  .img-responsive{
    width: 100%;
    height: auto;
  } 
  h1{
    text-align: left; 
  }
}

.fb-comments, .fb-comments span, .fb-comments.fb_iframe_widget span iframe {
    width: 100%!important;
}