.social-share{
  position: absolute;
  z-index: 10;
  text-transform: uppercase;
  right: 24px;
  z-index: 99999;
  color: $text-color;
  top: 7px;
  font-size: 10px;
  &.thumb{
      top: 152px;
      color: white;
      .share{
        border: 2px solid white;
        &:before{
          color: white;
        }
        &:hover{
          border:  2px solid $brand-success;
          &:before{
            color: $brand-success;
          }
        }
      }
  }
}
.share{
  text-indent: -9999999px;
  margin-left: 3px;
  border: 2px solid $text-color;
  width: 20px;
  height: 20px;
  position: relative;
  display: inline-block;
  @include transition-duration(0.5s);
  @include transition-property(border, color);
  &:hover{
    border:  2px solid $brand-success;
    &:before{
      color: $brand-success;
    }
  }
  &:before{
    width: 20px;
    height: 20px;
    display: block;
    @include fa-icon();
    text-indent: 0;top: 2px;
    left: 2px;
    position: absolute;
    -webkit-font-smoothing: antialiased;
    font-size: 14px;
    color: $text-color;
    text-indent: 0;
    top: 1px;
  }
  &.facebook{
    &:before{
      content: '\f09a';
      left: 4px;
    }
  }
  &.linkedin{
    &:before{
      content: '\f0e1';
    }
  }
  &.twitter{
    &:before{
      content: '\f099';
    }
  }

}
